/*
Theme Name: NicheWall V.202
Description: Wordpress Niche Wallpaper Blog Themes
Author: AdSensia.com
Version: 202
Tags: responsive,black,one-column,two-columns,fixed-width,custom-background,featured-images,post-formats,sticky-post,threaded-comments,photoblogging,wallpaper
License: GPL
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
html{overflow-x:hidden;-webkit-font-smoothing:antialiased;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block}
ol, ul{list-style:none}
blockquote, q{quotes:none;font-family:georgia;font-size:13px;font-style:italic;}
blockquote:before, q:before, q:after{content:'';content:none;}
sup, sub{height:0;line-height:1;vertical-align:baseline;_vertical-align:bottom;position:relative;font-size:10px;}
sup{bottom:1ex}
sub{top:.5ex}
table{border-collapse:collapse;border-spacing:0;}
button, input, select, textarea{margin:0}
:focus{outline:0}
p img{width:100%;}
img.size-full{width:100%;}
img, video, object{max-width:100%;height:auto;}
.fullimagethumb{text-align:center;transition:all 0.2s ease-in-out 0s;max-width:100%;max-height:100%;}
iframe{max-width:100%}
blockquote{font-family:georgia;font-size:13px;font-style:italic;position:relative;}
blockquote p{margin-bottom:10px}
strong, b{font-weight:bold}
em, i, cite{font-style:italic}
small{font-size:100%}
figure{margin:10px 0}
code, pre{font-weight:normal;font-style:normal;}
pre{line-height:1.3;overflow:auto;background:#F7F7F7 url('images/code.png') 10px 2px no-repeat;padding:2em 1em 1em 1em;border:1px solid #DDD;margin:15px 0;}
code{padding:0 8px;line-height:1.5;}
mark{padding:1px 6px;margin:0 2px;color:black;background:#FFE974;}
address{margin:10px 0;font-style:italic;}
.wp-caption{max-width:100%;width:auto !important;}
.sticky{}
.gallery-caption{}
.gallery dt{width:auto;text-align:center;float:none;}
.gallery img{width:125px;height:125px;}
.bypostauthor{}
.wp-caption-text{margin-bottom:0;text-align:center;}
dl{}
dt{float:left;clear:left;width:100px;text-align:right;font-weight:bold;}
dd{margin:0 0 0 110px;padding:0 0 0.5em 0;overflow:hidden;}
body{font:13px/23px Droid Sans, sans-serif;color:#939393;background-color:#000000;}
::-moz-selection{background:#222;color:white;text-shadow:none;}
::selection{background:#222;color:white;text-shadow:none;}
#page, .container{position:relative;margin-right:auto;margin-left:auto;overflow:hidden;}
h1, h2, h3, h4, h5, h6{margin-bottom:12px;color:#AAAAAA;}
h1{font-size:18px;line-height:1.4;}
h2{font-size:16px;line-height:1.4;}
h3{font-size:16px;line-height:1.4;}
h4{font-size:15px;line-height:1.4;}
h5{font-size:15px;line-height:1.4;}
h6{font-size:15px;line-height:1.4;}
.sub-title{font-size:12px}
p{margin-bottom:10px;}
a{text-decoration:none;color:#38B7EE;transition:background-color, color 0.2s linear;}
a:hover{color:#38B7EE}
a:link, a:visited, a:active{text-decoration:none}
.main-container{width:980px;margin:0 auto;overflow:hidden;padding:0;position:relative;}
#page, .container{max-width:940px;min-width:230px;overflow:visible;}
#page{min-height:100px;clear:both;width:96%;padding:0;padding-top:5px;max-width:940px;overflow:hidden;}
#page .content{width:100%;display:block;float:left;}
#page.single{}
body > header{float:left;width:100%;position:relative;}
.main-header{position:relative;margin:0 auto;width:100%;z-index:99;max-width:980px;float:none;display:block;}
#header{float:left;position:relative;width:100%;}
.headertext{font-size:20px;padding: 0px;}
#header:after{content:"";position:absolute;width:100%;height:0px;background:#E2E2E2;bottom:0px;left:0;}
#header h1, #header h2{color:#029890;font-size:26px;float:left;display:inline-block;line-height:1;margin:20px 0;text-transform:uppercase;}
#header .image-logo{margin:11px 0}
#logo a{float:left;color:#EFEFEF;font-weight:bold;}
#logo a img{float:left}
.widget-header{float:center;max-width:100%;}
.header-bottom-second{clear:both;text-align:center;}
#header-widget-container{width:96%;max-width:940px;margin:0 auto;overflow:hidden;margin-top:24px;}
.widget-header img{float:center;}
.logo2{height:35px;margin-top:12px;padding-left:15px;position:relative;text-align:right;width:173px;}
.dashed{border-bottom:1px dashed;}
.dashedpost{border-bottom:1px dashed;margin-bottom:10px;}
.dashedattach{border-bottom:1px dashed;margin-bottom:10px;margin-top:10px;}
.sidebarmenunavigation a{background-color:#2a2a2a;font-size:12px!important;padding:2px 7px;margin-bottom:5px;float:right;margin-left:5px;color:#dddddd!important;transition:all 0.25s linear;}
.sidebarmenunavigation a:hover{color:#ffffff!important;background:#2a2a2a;}
.sidebarpostviews{border-bottom:1px dashed;font-size:16px;line-height:20px;margin-bottom:8px;padding:5px;text-align:right;text-transform:uppercase;}
.sidebartextviews{color:#565656;font-size:11px;}
.sidebarads160{line-height:20px;margin-top:15px;max-width:200px;}
.menu-item-has-children > a:after{content:"\2630";font-size:10px;color:#ADADAD;position:absolute;right:12px;top:22px;}
.footer-navigation .menu-item-has-children > a:after{display:none}
.sub-menu .menu-item-has-children>a:after{right:0;top:17px;}
.menu .current-menu-item > a{background:#2b2b2b;}
.menu .current-menu-item > a:after{content:"";position:absolute;width:100%;height:0px;background:#2b2b2b;bottom:0px;left:0;z-index:1;}
.sub-menu{top:22px;background:#222;}
.clearfix:before, .clearfix:after{content:" ";display:table;}
.clearfix:after{clear:both}
.clearfix{*zoom:1}
nav a#pull{display:none}
.description_images{float:left;text-align:justify;margin-bottom:10px;}
.description_images p{text-align:justify;color:#8b8b8b;}
.description_images a:link,.description_images a:visited{color:#333}
.description_images h2{text-align:justify;font-size:12px;margin:5px 0 -5px 0;text-transform:uppercase;font-family:arial;color:#333;}
.description_images_bottom{border-top:1px dashed #565656;float:left;font-size:13px;font-style:italic;margin-bottom:5px;margin-top:7px;}
.description_images_bottom p{text-align:justify;color:#8b8b8b;}
.description_images_bottoma:link,.description_images a:visited{color:#333}
.description_images_bottom h2{text-align:justify;font-size:12px;margin:5px 0 -5px 0;text-transform:uppercase;font-family:arial;color:#333;}
.description1{text-align:center;border:1px solid #dddddd;background:#D6D4D4;padding-bottom:10px;}
.article{width:77.5%;float:right;margin-bottom:10px;border-left:1px dashed;padding-left:10px;}
#content_box{float:left;width:95.2%;}
.page #content_box{width:100%}
.single #content_box{width:100%}
.single-img{text-align: center;}
.single-img img{width: 135px !important;
height: 110px;
margin-right: 7px;}
.content .post_box_reg .excerpt:nth-last-child(2), .content .post_box_reg .excerpt:last-child{padding-bottom:0;margin-bottom:0;border-bottom:none;}
.content .post_box_reg .excerpt:last-child{float:right}
#content_box #content{float:left;display:block;width:100%;}
.post{float:left;width:100%;}
.postauthor-container{clear:both;float:left;margin-top:20px;width:100%;}
.postauthor-container h4{margin-bottom:10px;font-size:18px;}
.post-content{padding-bottom:15px;margin-bottom:15px;}
.post.excerpt .post-content{float:left;margin-bottom:0;padding-bottom:0;}
.post-single-content{overflow:none}
.readMore{float:right;color:#38B7EE;font-size:13px;}
.readMore a{color:#EE210B}
.ss-full-width{overflow:hidden;margin-bottom:10px;}
.ss-full-width #content_box{padding-right:0;padding-left:0;}
.ss-full-width .post-content{margin-bottom:0;padding-bottom:0;}
.post.excerpt{margin-bottom:10px;min-height:220px;overflow:hidden;width:33.3%;}
.wp-post-image{float:right}
.featured-thumbnail{float:left;max-width:100%;}
#featured-thumbnail{float:left;max-width:300px;margin-top:4px;margin-bottom:0;margin-right:3%;position:relative;}
.featured-thumbnail img{height:165px;width:150px;margin-bottom:0;transition:all 0.25s linear 0s;}
.featured-thumbnail:hover{opacity:0.5;filter:alpha(opacity=10);}
.featured-cat{background:-moz-linear-gradient(left, rgba(0,0,0,0.84) 54%, rgba(0,0,0,0.26) 86%, rgba(0,0,0,0) 100%);background:-webkit-gradient(linear, left top, right top, color-stop(54%,rgba(0,0,0,0.84)), color-stop(86%,rgba(0,0,0,0.26)), color-stop(100%,rgba(0,0,0,0)));background:-webkit-linear-gradient(left, rgba(0,0,0,0.84) 54%,rgba(0,0,0,0.26) 86%,rgba(0,0,0,0) 100%);background:-o-linear-gradient(left, rgba(0,0,0,0.84) 54%,rgba(0,0,0,0.26) 86%,rgba(0,0,0,0) 100%);background:-ms-linear-gradient(left, rgba(0,0,0,0.84) 54%,rgba(0,0,0,0.26) 86%,rgba(0,0,0,0) 100%);background:linear-gradient(to right, rgba(0,0,0,0.84) 54%,rgba(0,0,0,0.26) 86%,rgba(0,0,0,0) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d6000000', endColorstr='#00000000',GradientType=1);color:#F2F2F2;font-size:12px;margin-bottom:5px;padding:0 4px;position:absolute;bottom:0px;}
.title{font-size:13px;line-height:1.4;clear:both;margin-bottom:0;text-transform:Sentence case;width:99%;}
.single-title{color:#939393;padding:0 0 0 0;font-size:18px;line-height:1.1;}
.title a{color:#939393}
.page h1.title{padding-top:0;font-size:18px;line-height:1.2;padding:0;}
article header{margin-bottom:2px;overflow:hidden;float:left;width:98%;}
.single article header{margin-bottom:10px}
.error404 .single_post{width:100%}
.single_post .post-info a, .post-info a{color:#EE210B}
.article img.left, .article img.alignleft, .wp-caption.alignleft{margin:0.3em 1.571em 0.5em 0;display:block;float:left;}
.article img.right, .article img.alignright, .wp-caption.alignright{margin:0.3em 0 0.5em 1.571em;display:block;float:right;}
.article img.center, .article img.aligncenter, .wp-caption.aligncenter{margin:0.3em auto 1em auto;display:block;}
.article img.aligncenter, .article img.alignnone{margin-top:1em;margin-bottom:1em;display:block;clear:both;}
.article ul{margin:1.5em 0 1.571em 1.9em;list-style-type:circle;}
.article ol{margin:1.5em 0 1.571em 1.9em;list-style-type:decimal;}
.article ul ul, .article ol ol, .article ul ol, .article ol ul{margin-top:0;margin-bottom:0;}
.featured-excerpt{position:absolute;bottom:0;width:94%;margin:0;padding:3%;background:rgba(0, 0, 0, 0.5);color:#f1f1f1;}
.featured-title{font-size:18px;clear:both;display:block;line-height:18px;margin-bottom:3px;}
.secondpost .featured-title{font-size:14px;line-height:1.3;}
.f-excerpt{font-size:14px}
.thirdpost .featured-title{font-size:10px;line-height:1.3;}
.widget.widget_nav_menu li{position:relative;margin-left:0;border-bottom:0;border-top:0;}
.widget_nav_menu .sub-menu{margin-top:8px;background:transparent;box-shadow:none;margin-left:0;list-style-type:circle;}
.widget .wpt_widget_content #tags-tab-content ul li{float:left}
.widget li .meta{display:block;font-size:12px;color:#999;margin-top:2px;text-transform:none;}
.meta, .meta a{color:#999;font-size:12px;}
input, textarea, select{background:#2A2A2A;padding:8px 12px;font-size:13px;color:#B1B1B1;border:1px solid #D1D1D1;}
textarea{overflow:auto;resize:vertical;}
select{padding:5px}
input:focus, textarea:focus{}
table{width:100%;text-align:left;margin-bottom:25px;border:1px solid #DDDDDD;}
thead{background:#2A2A2A;font-size:14px;color:#fff;border:0;}
table th, table td{padding:7px 15px;text-align:left;}
thead th{padding:14px}
tbody th{font-weight:normal}
hr{border:none;border-bottom:1px solid #E5E5E5;border-bottom:1px solid rgba(0,0,0,0.1);width:297px;margin:35px 0;clear:both;position:relative;}
#searchform{padding:0;float:left;clear:both;width:100%;}
#searchform fieldset{float:left;position:relative;width:100%;}
.article #searchform fieldset{float:none;max-width:300px;}
.article #searchform .icon-search{height:28px;width:13%;}
footer .sbutton{width:19.4%;height:38px;}
#s{background:none repeat scroll 0 0 #000000;border:1px dashed #3f3f3f;box-sizing:border-box;float:left;height:34px;opacity:1;padding:7px 0;position:relative;text-indent:10px;transition:all 0.25s linear 0s;width:61%;z-index:1;}
.topad{clear:both;margin-bottom:10px;margin-top:10px;}
.homead{clear:both;padding-bottom:10px;}
.bottomad{float:left;clear:both;margin-top:20px;}
.ad-300{width:100%}
.ad-300 a{display:block;width:100%;}
.ad-300 img{border:none !important;width:100%;box-shadow:none !important;}
.sidebar.walleft1{float:left;margin-top:6px;width:20%;text-align:right;line-height:20px;max-width:200px;}
.sidebar.walleft1 a{color:#939393}
.sidebar.walleft2{margin-top:6px;width:20%;text-align:right;line-height:20px;max-width:200px;}
.sidebar.walleft2 a{color:#939393}
.widget{margin-bottom:10px;float:left;width:100%;list-style:none;}
.widget .title{font-weight:bold;text-transform:uppercase;color:#939393;font-size:12px;}
.widget li{list-style-type:none;margin-left:17px;text-align:right;margin-bottom:7px;}
.widget li:last-child{margin-bottom:0;padding-bottom:0;}
.widget h3, .frontTitle{font-size:16px;text-align:right;line-height:20px;padding:5px;text-transform:uppercase;border-bottom:1px dashed;}
.advanced-recent-posts li, .popular-posts li, .category-posts li, .related-posts-widget li, .author-posts-widget li, .widget_tabs2 .tab-content li{list-style:none!important;margin:0;overflow:hidden;-webkit-transition:all 0.25s linear;-moz-transition:all 0.25s linear;transition:all 0.25s linear;color:#AAA;padding-left:0;background:none;margin-bottom:15px;line-height:1.4;}
.advanced-recent-posts p, .popular-posts p, .category-posts p, .related-posts-widget p, .author-posts-widget p, .widget_tabs2 .tab-content p{margin:0;font-size:14px;overflow:hidden;color:#aaa;}
.category-posts a, .advanced-recent-posts, .advanced-related-posts a, .related-posts-widget a, .author-posts-widget a, .widget_tabs2 .tab-content a{display:block}
.widget .meta{font-size:13px;color:#AAA;}
.latestPost-review-wrapper{position:absolute;bottom:0;right:0;background:#FFF;padding:2px 8px;}
.latestPost-review-wrapper .review-total-star{margin:4px 0}
.latestPost-review-wrapper .percentage-icon{top:0;font-size:inherit;font-style:normal;}
.bar-point .review-result, .percentage-point .review-result{z-index:1}
.widget .review-total-only .review-total-star{position:relative}
body > footer{overflow:hidden;float:left;width:100%;display:block;clear:both;font-size:14px;line-height:1.8;margin-top:20px;background:#EFEFEF;color:#555;}
body > footer .widget{padding:2px 0 0 0}
body > footer .sidebar .widget .title{font-size:135%;color:#D4D8DB;}
footer .widget{margin-bottom:0px}
footer .widget li a{color:#EE210B}
footer .widget li a:hover{color:#222}
footer{position:relative;overflow:hidden;clear:both;line-height:20px;}
footer .container{max-width:100%}
.copyright-left-text{float:right;}
.copyright-text{font-size:12px;}
.footer-navigation{margin:10px 0px;width:100%;}
.footer-navigation ul{text-align:right;font-size:13px;text-transform:none;}
.footer-navigation ul li{display:inline;}
.footer-navigation ul ul{display:inline;}
.footer-navigation a{border-left:1px dashed;color:#9b9b9b;margin-left:5px;padding:0px 0px 0px 9px;}
.footer-navigation ul li:first-child a{border-left:medium none;padding-left:0px;text-align:center;line-height:3;}
.nav{text-align: center;}
.nav li{display: inline;margin-left: 5px;}
.copyrights{float:left;width:95.7%;clear:both;padding:0 2.2% 10px;margin-top:0px;color:#9b9b9b;font-size:12px;text-transform:none;position:relative;}
#copyright-note{width:1060px;margin:0 auto;clear:both;max-width:100%;}
#copyright-note span{vertical-align:text-top;float:left;line-height:2;}
#copyright-note span a:first-child{float:left;margin-right:5px;}
.toplink .icon-long-arrow-up{font-size:15px;position:absolute;right:0;top:6px;}
#sidebars .wp-post-image, footer .wp-post-image{margin-bottom:0;margin-left:10px;}
.postsby{margin-bottom:10px;font-size:18px;line-height:1.2;}
.smallbutton{color:#939393;}
.smallbutton a{background:none repeat scroll 0 0 #5e5e5e;border-style:solid;box-sizing:border-box;cursor:pointer;display:inline-block;font-size:13px;height:22px;line-height:20px;padding:0 10px 1px;text-align:center;text-decoration:none;white-space:nowrap;}
.smallbutton a:hover{background:#424242;}
.mts-subscribe input[type="submit"], .readMore a, #commentform input#submit{transition:all 0.25s linear}
.relatedtitle{font-size:13px;margin:0;color:#AAAAAA;width:100%;}
.postauthor-top{margin-bottom:10px;}
.postauthor p{padding-top:0px;font-size:13px;line-height:21px;margin-bottom:0;}
.postauthor-top span{display:block;font-size:14px;line-height:1.5;}
.postauthor-top .thetime{font-weight:normal;font-size:12px;color:#999;display:inline-block;text-transform:none;line-height:1;}
.postauthor{border:1px dashed #555555;clear:both;float:left;padding:15px 2.4% 0;width:94.8%;}
.postauthor h4{font-weight:bold;font-size:18px;}
.postauthor h5{display:inline-block;text-transform:capitalize;font-size:18px;padding:0;margin:0;margin-bottom:5px;}
.postauthor img{float:left;margin:5px 20px 15px 0;}
.postauthor h4 a{color:#473636}
.tags{margin:5px 0 10px 0;width:100%;float:left;}
.tags a{margin-left:5px}
.clear{clear:both}
.left, .alignleft{float:left}
.right, .alignright{float:right}
.navigation .alignright, .navigation .alignleft{margin-bottom:15px}
.last, .post.excerpt.last{margin-right:0;clear:none;}
.tagcloud a{font-size:12px!important;padding:2px 7px;margin-bottom:5px;float:right;margin-right:5px;background:#2a2a2a;color:#dddddd!important;transition:all 0.25s linear;}
.tagcloud a:hover{color:#ffffff!important;}
.widget_nav_menu .fa, .widget_nav_menu .fa{display:list-item}
.widget_nav_menu .fa > a, .widget_nav_menu .fa > a{padding-left:5px}
.widget_nav_menu .sub-menu{margin-top:8px}
#wp-calendar{margin-bottom:0;border:0;}
#wp-calendar td{text-align:center;padding:7px 0;border-top:1px solid rgba(0, 0, 0, 0.05);border-right:1px solid rgba(0, 0, 0, 0.05);}
#wp-calendar tbody{background:#FFFFFF;border:1px solid rgba(0, 0, 0, 0.05);border-top:0;}
#wp-calendar tbody th{border-bottom:1px solid #CFCFCF}
#wp-calendar caption{font-size:16px;padding-bottom:10px;font-weight:bold;}
#wp-calendar #prev{text-align:left;padding-left:12px;}
#wp-calendar thead th{padding:10px 0;text-align:center;}
#wp-calendar tfoot{background:#fff;border:1px solid rgba(0, 0, 0, 0.05);border-top:0;}
.total-comments{border-bottom:1px dashed #aaaaaa;color:#aaaaaa;font-size:18px;line-height:32px;text-transform:uppercase;}
.cnumber{color:#2DB2EB}
#comments{padding:0;background-color:transparent;margin-top:25px;float:left;clear:both;width:100%;}
#commentsAdd{background-color:transparent;width:100%;float:left;clear:both;margin-bottom:20px;}
#comments .avatar{float:left;margin-right:20px;width:11.3%;}
.comment time{border-left:1px solid #B3B3B3;margin-left:5px;padding-left:12px;color:#939291;font-size:13px;}
ul.children .commentImageLeft{width:60px;height:90px;border-left:1px solid #c1bbb6;border-bottom:1px solid #c1bbb6;position:absolute;top:-50px;left:-70px;}
input.text-input, #commentform input{padding:10px}
input#author, input#email, input#url{width:460px;border:1px solid #555555;background:#555555;font-size:14px;display:block;max-width:85%;float:right;padding:10px 2%;}
input#author, input#email, input#url, #comment{transition:all 0.25s ease-in-out}
.contactform input[type="text"]{width:380px}
#cancel-comment-reply-link{float:right;line-height:24px;margin-top:0;}
.contact-submit, #cancel-comment-reply-link{color:red;cursor:pointer;margin-right:5px;margin-bottom:-25px;text-decoration:underline;z-index:100;position:relative;}
#commentform{border:1px dashed #555555;overflow:hidden;padding:10px 5%;width:89.6%;}
#commentform input#submit{background-color:#38b7ee;border:0 none;color:#fff;cursor:pointer;display:inline-block;float:right;font-family:inherit;line-height:1;text-decoration:none;text-transform:uppercase;transition:all 0.2s linear 0s;}
#commentform input#submit:hover{color:#fff;background:#2a2a2a;}
ol.commentlist{margin-left:0;overflow:hidden;}
.commentlist li{list-style:none;margin:0 0 20px 0;padding-left:0;float:left;width:100%;}
.commentlist p{margin-bottom:1em}
.commentlist p:last-child{margin-bottom:0}
.comment-author{position:relative}
.comment-author::before{border-color:rgba(0, 0, 0, 0) #555555 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);border-style:solid;border-width:0 14px 15px 15px;bottom:21px;content:" ";left:10.8%;position:absolute;}
.comment-author::after{border-color:rgba(0, 0, 0, 0) #555555 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);border-style:solid;border-width:0 12px 14px 15px;bottom:21px;content:" ";left:11.2%;position:absolute;}
.fn{color:#939291;font-size:13px;line-height:1.375em;}
.fn a{color:#939291}
.comment-meta{font-size:12px;font-style:italic;}
.comment-meta a{color:#888}
.commentmetadata{border-bottom:1px dashed #555555;border-left:1px dashed #555555;border-right:1px dashed #555555;overflow:hidden;padding:12px;}
.commentmetadata ul, .commentmetadata ol, .commentmetadata ul ol, .commentmetadata ol ul{margin-top:0}
.commentmetadata li{border:0;padding:0;margin-top:0;margin-bottom:5px;list-style:circle;}
.commentmetadata ol li{list-style:decimal}
.comment-metadata{background:none repeat scroll 0 0 #555555;border-image:none;border-width:1px 1px 0;overflow:hidden;padding:15px 12px;position:relative;}
.reply{float:right}
.reply a{float:right;font-size:13px;line-height:22px;}
.commentlist .children{margin-left:17%;margin-bottom:0;margin-top:0;float:left;width:83%;}
.commentlist .children li{}
.avatar{float:left}
#respond h3{margin:0}
.comment-respond{margin-top:30px}
#respond h4{font-size:18px;line-height:32px;color:#aaaaaa;border-bottom:1px dashed #555555;margin-bottom:25px;}
.cancel-comment-reply a{float:right;margin-top:-8px;font-size:14px;}
.comment-awaiting-moderation{font-style:italic;font-weight:bold;}
#commentform textarea{width:460px;border:1px solid #555555;background:#555555;font-size:14px;padding:2%;line-height:25px;font-family:inherit;float:right;max-width:85%;}
#commentform p{margin-bottom:15px;float:left;width:100%;clear:both;}
#commentform p label{display:inline-block;margin-bottom:2px;padding-bottom:5px;padding-top:5px;float:left;}
.required{color:#a8a8a8;font-size:16px;font-style:italic;padding:0;line-height:1;}
.comment-notes .required{padding-left:0;padding-top:3px;}
.comment-notes, .logged-in-as{margin-top:15PX}
.comment-form-left{float:left;width:50%;}
.comment-form-right{float:right;width:50%;}
input#author:focus, input#email:focus, input#url:focus, #contactForm textarea:focus, #commentform textarea:focus{border-color:#c9a096}
.pagination{clear:both;overflow:hidden;float:left;width:100%;margin-top:5px;text-align:center;}
.single .pagination{border:0;box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;margin-top:0;padding:2.2% 0;width:100%;}
.pagination ul{list-style:none;margin:0;display:inline-block;}
.pagination ul li{float:left;margin-bottom:5px;}
.currenttext, .pagination a:hover{color:#fff;margin:0 5px 0 0;display:inline-block;float:left;line-height:1;text-decoration:none;padding:10px 13px;background:#2a2a2a;font-weight:bold;margin-bottom:10px;}
.single .pagination a .currenttext{padding:0;background:transparent;color:#FFF;margin-right:0;margin-bottom:0;}
.single .pagination a:hover .currenttext{color:#fff}
.pagination a{margin:0 5px 0 0;display:inline-block;float:left;line-height:1;text-decoration:none;color:#fff;padding:10px 13px;transition:all 0.25s linear;font-weight:bold;margin-bottom:10px;}
.pagination ul li:last-child a{margin-right:0}
.pagination a:hover{color:#fff}
.pnavigation2{display:block;width:100%;overflow:hidden;padding:10px 0;float:left;margin-top:20px;}
.pagination .nav-previous{float:left}
.pagination .nav-next{float:right}
.pagination .nav-previous a, .pagination .nav-next a{color:#fff!important}
.pagination .nav-previous a:hover, .pagination .nav-next a:hover{background-color:#222}
.single .currenttext{margin-bottom:0}
.pagination .current .currenttext{margin-bottom:10px}
.ads300bottom{float:left;margin-right:20px;width:auto;height:auto;}
.imgdetailthumb2{float:left;border:1px solid #555555;}
.imgdetail{font-size:13px;text-transform:capitalize;line-height:14px;padding-right:5px;margin:0px 0px 1px;}
.crumbs{font-size:12px;}
.crumbs a{margin-bottom:15px;font-size:12px;}
.dashedsocial{margin-top:5px;margin-bottom:10px;border-top:1px dashed;}
.social a{display:inline-block;font-size:12px;margin:bottom:5px;padding-left:6px;padding-right:6px;text-align:center;}
.twitter, .facebook, .google-plus, .linkedin, .stumbleupon, .reddit, .digg, .pinterest, .delicious{border:1px dotted #B4B4B4;}
.twitter:hover{border:1px dotted #9AE4E8;color:#9AE4E8;}
.facebook:hover{border:1px dotted #3B5998;color:#3B5998;}
.google-plus:hover{border:1px dotted #D34836;color:#D34836;}
.linkedin:hover{border:1px dotted #0e76a8;color:#0e76a8;}
.stumbleupon:hover{border:1px dotted #EF4916;color:#EF4916;}
.reddit:hover{border:1px dotted #CEE3F8;color:#CEE3F8;}
.digg:hover{border:1px dotted #1B5790;color:#1B5790;}
.pinterest:hover{border:1px dotted #C92228;color:#C92228;}
.delicious:hover{border:1px dotted #0b79e5;color:#0b79e5;}
.majumundur{width: 100%;display: inline-flex;text-align: center;}
.majumundur a{color: #F00000;font-size: 30px;}
.maju{width: 48%}
.mundur{width: 48%}

